@font-face {
font-family: 'Gotham Pro Bold';
src: url('../fonts/GothamPro-Bold.eot');
src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Bold.woff') format('woff'),
url('../fonts/GothamPro-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: auto;
}

@font-face {
	font-family: 'Museo Sans 100 Thin';
	src: url('../fonts/MuseoSansCyrl-100.eot');
	src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Museo Sans 900 Black';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@mixin bold {
	font-family: 'Gotham Pro Bold';
	font-weight: 700;
}

@mixin thin {
	font-family: 'Museo Sans 100 Thin';
	font-weight: 100;
}

@mixin black {
	font-family: 'Museo Sans 900 Black';
	font-weight: 900;
}


