.question
	position: relative
	display: inline-block
.offer
	&__info
		font-size: 16px
	&__form-1
		display: inline-flex
	&__question-1
		padding-left: 150px
	&__number
		font-size: 200px
		opacity: 0.5
		color: $number-color
		margin-right: 100px
		+black
	&__type
		position: absolute
		margin-left: -155px
		margin-top: 55px
		font-size: 36px
		+thin 
	&__btn 
		display: flex
		flex-direction: column	
	&__green
		background-color: rgba(4, 129, 3, 0.2)
		margin-bottom: 30px
		margin-top: 50px
	&__pink
		background-color: rgba(200, 2, 21, 0.2)
		margin-bottom: 48px
	&__arrow1
		margin-left: -11px
	&__squash
		position: absolute
		right: 0
	&__input
		display: inline-block
	&__label
		align-self: flex-end
	&__old
		width: 102px
		border: none
		outline: none
		text-align: center
		border-bottom: 1px solid #010701
		background: border-box
		padding: 1px
		font-size: 16px
	&__span
		margin-left: 5px
		font-size: 16px
	&__question-2
		padding-left: 600px
	
	
			