
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto.ttf');
    src: url('../fonts/Roboto/Roboto.woff');
    src: url('../fonts/Roboto/Roboto.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Robotomedium.ttf');
    src: url('../fonts/Roboto/Robotomedium.woff');
    src: url('../fonts/Roboto/Robotomedium.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marvin-visions-bold';
    src: url('../fonts/Marvin/marvin-visions-bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Robotobold.ttf');
    src: url('../fonts/Roboto/Robotobold.woff');
    src: url('../fonts/Roboto/Robotobold.woff2');
    font-weight: normal;
    font-style: normal;
}